body {
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #d0ff00, #4cdb20);
    background-position: cover ;
    background-size: cover;
}



.card {
    width: 400px;
    background: linear-gradient(45deg, #40e7a7, #024635);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 20px;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    letter-spacing: 2px;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    text-decoration: none;
    color: rgb(241, 238, 9);
    scale: 2;
}
.stats {
    text-align: left;
     
    justify-content: space-around;
    margin-top: 20px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
}

.stat p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: bold;

}